#phoneBookWrap {
    padding: 15px;
    .tab-content {
        padding-top: 20px;
    }
    .logo {
        margin-left: -15px;
    }
    .cib {
        line-height: 100px;
    }
    .title {
        margin-bottom: 25px;
        h5 {
            line-height: 100%;
        }
    }
}

@media (max-width: 576px) {
    #phoneBookWrap {
        .title {
            margin-bottom: 0px;
            h5 {
                line-height: 100%;
            }
        }
        img {
            margin: 0 -15px -10px;
        }
    }
}