#phoneBookWrap {
    padding: 15px;
    .tab-content {
        padding-top: 20px;
    }
    .logo {
        margin-left: -15px;
    }
    .cib {
        line-height: 100px;
    }
    .title {
        margin-bottom: 25px;
    }
}